{% extends 'base.html.twig' %}

{% block title %}Wikébec | Dictionnaire de québécois participatif{% endblock %}

{% block body %}
    <h1>Wikébec</h1>
    <p>Wikébec est un dictionnaire participatif du Français Québécois, ne contenant que les termes spécifiques au Québec, toujours utilisés aujourd'hui.</p>
    <p>Wikébec est donc un dictionnaire québécois s'adressant à tous ceux ayant avant tout besoin de pragmatisme face au Français Québécois. Sur Wikébec, vous pouvez modifier, ajouter ou retirer vous-mêmes les définitions.
        Le dictionnaire vous appartient!</p>
    <h3>Mot du jour</h3>
    <h4>{{ wotd.term.name }}</h4>
    <p>{{ wotd.term.definitions[0].content }}</p>
{% endblock %}
