{% extends 'base.html.twig' %}

{% block title %}Wikébec | Dictionnaire de québécois participatif{% endblock %}

{% block body %}
    <p>Bienvenue sur Wikébec.</p>
    <h3>Mot du jour</h3>
    <h4>{{ wotd.term.name }}</h4>
    <p>{{ wotd.term.definitions[0].content }}</p>
{% endblock %}
