{% extends 'base.html.twig' %}

{% block title %}{{ term.name|capitalize }} | Définition | Wikébec{% endblock %}

{% block body %}
    <h1>{{ term.name|capitalize }}</h1>
    <h3>Définitions</h3>
    <ol>
    {% for def in term.definitions %}
        <li>{{ def.content }}</li>
    {% endfor %}
    </ol>
{% endblock %}
