parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: dico-quebecois
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: 98ae9a83cf45a617cf5208e13761c88bf62846bf
    recaptcha_public_key: 6Le4vAYTAAAAAE5VR9VRHcZrJ0lkA_L7lfhUp2dE
    recaptcha_private_key: 6Le4vAYTAAAAAK_zPx4LAjuxnaX3Lc8UE_YMI15z
