{% extends 'base.html.twig' %}

{% block title %}Effacer le terme {{ term.name }} | Wikébec{% endblock %}

{% block body %}
    <h2>Effacer un terme</h2>
    {{ form(deleteForm, {attr:{'novalidate':'novalidate'}}) }}
{% endblock %}